*,*:after,*:before { margin: 0; padding: 0; }

html, body{
    min-height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #737a80;
    background: linear-gradient(#eceff1, #cfd8dc);
    overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6{ font-size:1rem; font-weight: 400;}

a{ color:rgba(100,100,100,.75); }

a:is(:hover, :focus){ color:rgba(100,100,100,1); text-decoration: none;}

p{line-height: 1.1; margin:0; padding:0;}

em{font-weight: bold; font-style: normal}

nav, footer {
    width: 89vw;
    padding: 0 5.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    min-height: 10vh;
}

footer{
    min-height: 8vh;
    position: fixed;
    bottom:0;
    left:0;
}

nav h1 a{
    font-size:140%;
    text-decoration: none;
    line-height: 1;
}

nav select{
    font-size:.8rem;
    padding:.35rem 1.4rem .35rem .7rem;
    color: #777;
    background:#f7fafc;
    border:none;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 4px #cfd8dc;
    letter-spacing: 0.05rem;
}

footer a{
    text-decoration: none;
}

header{
    width: min(89vw, 450px);
    height: auto;
    padding: 3.4vh 5.5vw;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

header input[name=ciudad]{
    width:calc(80% - .5rem);
    padding:.25rem;
    margin:0;
}

header input[type=button]{
    width:calc(20% - .5rem);
    padding:.25rem;
    margin:0;    
}


header input[type=radio]{
    margin-right: .25rem;
}

aside{
    width: 89vw;
    padding: 0 5.5vw;
}

aside:empty{
    display:none;
}

aside p{
    font-size:calc(1rem + .38vw);
    line-height: 1.38;
    color:#959ca2;
    margin-bottom: 2rem;
}

main{
    width:91vw;
    padding: 0 4.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
  display: flex;
  flex-wrap: wrap;
}

blockquote{
    margin:0 .25rem;
    font-size:calc(1.62rem + 1.62vw);
    width:98%;
    padding:0 1%;
}

blockquote span{
    font-weight: bold;
}


main div#form, main div#stringify{
    background:rgba(255,255,255,.5);
    margin:.25rem;
    padding:1rem;
    border-radius: .4rem;
    box-shadow: inset 0 0 1px #eceff1, 0 2px 2px #dfe9ed;
    width:45.5vw;
    align-self:start;
}

main div#form input, main div#form select, main div#form textarea{
    width:calc(100% - 0.5rem);
    padding:.25rem;
    margin:.5rem 0;
}

main div#form textarea{
    height:10vh;
}

pre {
 white-space: pre-wrap;
 word-wrap: break-word;
}

section article div{
    padding:.5rem;
}

section article {
    background:rgba(255,255,255,.9);
    margin:.25rem;
    border-radius: .4rem;
    box-shadow: inset 0 0 1px #eceff1, 0 2px 2px #cfd8dc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: calc(50% - .5rem);    
}



@media (min-width: 550px) { 
    section article { 
        flex-basis: calc(50% - .5rem); 
    }
}

@media (min-width: 775px) { 
    section article { 
        flex-basis: calc(33.3% - .5rem); 
    }
}

@media (min-width: 1000px) { 
    section article { 
        flex-basis: calc(25% - .5rem); 
    }
}

article div {
    padding:.75rem;
    font-size:.9rem;
}

article div:first-child{
  min-width:4rem;
  text-align: center;
}

article div:first-child h3{
    font-size:3rem;
    font-weight: 300;
}

article div:first-child img{
    width:4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border:1px solid #eee;
}