*,*:after,*:before { margin: 0; padding: 0; }

html, body{
    min-height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #737a80;
    background: linear-gradient(#eceff1, #cfd8dc);
    overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6{ font-size:1rem; font-weight: 400;}

a{ color:rgba(92,98,120,.75); }

a:is(:hover, :focus){ color:rgba(92,98,120,1); text-decoration: none;}

p{line-height: 1.1; margin:0; padding:0;}

nav, footer {
    width: 89vw;
    padding: 0 5.5vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    position: fixed;
    bottom:0;
    left:0;
}

nav h1 a{
    font-size:120%;
    text-decoration: none;
}

nav select{
    margin-top:.25rem;
    font-size:.8rem;
    padding:.25rem 1rem .25rem  .25rem;
    color: #777;
    background:#f7fafc;
    border:none;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 4px #cfd8dc;
    letter-spacing: 0.05rem;
}


footer a{
    text-decoration: none;
}

header{
    width: min(89vw, 400px);
    padding: 0 5.5vw;
    display: flex;
    justify-content: space-between;
}


header input{
    width:calc(100% - .5rem);
    padding:.25rem;
}

aside{
    width: 89vw;
    padding: 3vh 5.5vw;
}

aside p{
    font-size:calc(1rem + .5vw);
    line-height: 1.38;
    color:#959ca2;
}

main{
    width:91vw;
    padding: 0 4.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
  display: flex;
  flex-wrap: wrap;
}

blockquote{
    margin:0 .25rem;
    font-size:calc(2rem + 2vw);
    font-weight: 300;
}

section div{
    padding:.5rem;
}

article {
    background:rgba(255,255,255,.9);
    margin:.25rem;
    border-radius: .4rem;
    box-shadow: inset 0 0 1px #eceff1, 0 2px 2px #cfd8dc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: calc(100% - .5rem);    
}

@media (min-width: 550px) { 
    article { 
        flex-basis: calc(50% - .5rem); 
    }
}

@media (min-width: 775px) { 
    article { 
        flex-basis: calc(33.3% - .5rem); 
    }
}

@media (min-width: 1000px) { 
    article { 
        flex-basis: calc(25% - .5rem); 
    }
}

article div {
    padding:.75rem;
    font-size:.9rem;
}

article div:first-child{
  min-width:4rem;
  text-align: center;
}

article div:first-child h3{
    font-size:3rem;
    font-weight: 300;
}

article div:first-child img{
    width:4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border:1px solid #eee;
}


div#weather {
    display:flex;
    flex-direction: column;
    padding: 1rem rem 0;
    background: #fff;
    border-radius: 0.8rem;
    box-shadow: inset 0 0 1px #eceff1, 0 2px 2px #cfd8dc;
}

em{
    font-weight: 700;
    font-style: normal;
}

input{
    margin-right: 1vw;
}