*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

canvas {
  display: block;
}

/*
Pruebe el CSS Layout Generator
https://layout.bradwoods.io/customize
Modifique el este grid de 2 x 2 por uno de 3 x 3
*/

main#aqui{
  width:min(90vw, calc(750px + 1rem));
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  grid-gap: 1.6% 1%;
}

main#alla{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

div{
  overflow: hidden;  
}

div img{
  width:100%;
  height:100%;
  transition:scale .5s;
}

div:hover img{
  scale:110%;
}

@keyframes efecto {
  0%{opacity: .2}
  100%{opacity: .9}
}

span#cargando{
  animation: efecto 1s alternate infinite;
}

span#cargando:before{
  content:" — ";
}

.esconde{
  display:none;
}
