* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

div{
    top: 50%;
    left: 50%;
    width:300px;
    height:100px;
    margin: -50px 0 0 -150px;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

button {
    font-size:1rem;
    box-shadow: 0 0 5px rgba(104, 47, 14,.25);
    border:none;
    border-radius: 6px 6px;
    color:RGB(161, 96, 33);
    background: RGB(243, 244, 244);
    font-weight: 900;
    padding:1rem;
}

button:hover{
  color:RGB(131, 66, 3);
  background: RGB(253, 254, 254);
  cursor:pointer;
}